@import url("reset.css");
@import url("common.css");



@import url("https://fonts.googleapis.com/css?family=Roboto:regular,500,700&display=swap");

body {
	font-family: "Roboto", sans-serif;
	background-color: #333;
	color: #fff;
}
.wrapper {
	overflow: clip;
	min-height: 100%;
}

a {
	color: #794f45;
}
h1 {
	font-size: 40px;
	margin: 0px 0px 50px 0px;
	text-align: center;
}
h2 {
	font-size: 30px;
	margin: 0px 0px 20px 0px;
}
p {
	margin: 20px 0;
}

/* ========================================== */
.main{
	padding: 30px 3%;
	margin-bottom: 100px;
}

[class*="__container"]{
	max-width: 1230px;
	margin: 0 auto;
	padding-left: 15px;
	padding-right: 15px;
}
.content p{
	font-size: 22px;
}
 .content__item,
 .content__item3d{
	width: 180px;
	height: 150px;
	background-color: #fff;
	border: 1px solid black;
}
.content__items,
.content__items-3d {
	display: inline-block;
	margin: 0px 0px 20px 0px;
	padding: 30px;
	text-align: center;
}
.content__items{
	background-color: #2e44a5;
}
.content__items-3d{
	background-color: #2d5026;
	perspective-origin: center;
	perspective: 400px;
}

.content__over-block,
.content__under-block{
	background-color: #a0963b;
	height: 50px;
	width: 880px;
}
.content__over-block{
	margin-bottom: 10px;
}
.content__item,
.content__item3d {
	display: inline-block;
	text-align: center;
	margin-bottom: 10px;	
	font-size: 18px;
}

.content__item3d{
	perspective-origin: center;
	perspective: 400px;
}
.content__item:not(:last-child){
	margin-right: 50px;
}
.content__item3d:not(:last-child){
	margin-right: 50px;
}
[class*="item__"]{
	padding: 65px 40px;
	background-color: #a31f1f;
}
[class*="item3d__"]{
	padding: 65px 40px;
	background-color: #a31f1f;
}
.item__content:hover{
	background-color: #794f45;

}
.item__content_translate-pixel:hover {
	transform: translate(20px, 30px);
}
.item__content_translate-percent:hover {
	transform: translate(-10%, -20%);
}
.item__content_translate-y:hover {
	transform: translateY(40px);
}
.item__content_translate-x:hover {
	transform: translateX(40px);
}
/* ================================= */
.item__content_scale-value:hover {
	transform: scale(1.2, 1.2);
}
.item__content_scale-mirror:hover {
	transform: scale(-0.8, 0.8);
}
.item__content_scale-x:hover {
	transform: scaleX(0.7);
}
.item__content_scale-y:hover {
	transform: scaleY(1.35);
}

/* ================================== */

.item__content_rotate:hover {
	transform: rotate(45deg);
}
.item__content_rotate-negative:hover {
	transform: rotate(-85deg);
}
.item__content_rotate-x:hover {
	transform: rotateX(35deg);
}
.item__content_rotate-y:hover {
	transform: rotateY(30deg);
}

/* ==================================================== */

.item__content_skew:hover {
	transform: skew(20deg, 15deg);
}
.item__content_skew-negative:hover {
	transform:skew(-5deg, -35deg);
}
.item__content_skew-x:hover {
	transform: skewX(10deg);
}
.item__content_skew-y:hover {
	transform: skewY(25deg);
}

/* ==================================================== */

.item__content_matrix:hover {
	transform: matrix(1.2, 0, 0, 1.2, 0,0);
}
.item__content_matrix-negative:hover {
	transform: matrix(-1.2, -0.2, 0, 1.2, 0,0);
}
.item__content_matrix-abcd:hover {
	transform: matrix(1.2, 0.3, 0.3, 1.2, 0,0);
}

.item__content_matrix-full:hover {
	transform: matrix(1.2, 0.35, 0.35, 1.2, 5, 20);
}
/* ================================================ */

.item__content_multi:hover {
	transform: translate(30px, 30px) rotate(30deg);
}
.item__content_multi-negative:hover {
	transform: translate(-10px, -10px) scale(-1.2, -1.2);
}
.item__content_multi-percent:hover {
	transform: translate(10%, -10%) scale(1.2, -1.2) rotate(120deg);
}

.item__content_multi-full:hover {
	transform: translate(10px, 10px) scale(1.2, 1.2) rotate(90deg);
}

/*============================================================= */
.item__content_origin-scale:hover {
	transform: scale(1.4, 1.3);
	transform-origin: 0px 30px;
}
.item__content_origin-rotate:hover {
	transform: rotate(45deg);
	transform-origin: 40px 0px;
}

.item__content_origin-skew:hover {
	transform: skew(10deg, 10deg);
	transform-origin: 10px 10px;
}
.item__content_origin-multi:hover {
	transform-origin: 100% 30%;
	transform: scale(1.3) rotate(45deg);
}
/* ============               3D                ============= */

.content__item3d{
	perspective-origin: center;
	perspective: 400px;
}

 .item3d__content_translate-pixel:hover {
	transform: translate3D(22px, 22px, 35px);
}
.item3d__content_translate-negative:hover {
	transform: translate3D(-22px, -22px, -35px);
}
.item3d__content_translate3d-x:hover {
	transform: translate3D(22px, 0px, -35px);
}
.item3d__content_translate3d-y:hover {
	transform: translate3D(0px, -22px, 35px);
}

/* ================================= */


.item3d__content_scale-value:hover {
	transform: scale3d(1.2, 1.4, 2);
}
.item3d__content_scale-mirror:hover {
	transform: scale3d(-1.4,-0.8,-2);
}
.item3d__content_scale-x:hover {
	transform: scale3d(1.8, 0.5, -1.5);
}
.item3d__content_scale-y:hover {
	transform: scale3d(1,2,2);
}

/* ================================== */
.item3d__content_rotate3d:hover {
	transform: rotate3d(1, 1, 0.5, 30deg);
}
.item3d__content_rotate-negative:hover {
	transform: rotate3d(-1, -1, 1, -30deg);
}
.item3d__content_rotate-x:hover {
	transform: rotate3d(1.2, 1, -1, 50deg);
}
.item3d__content_rotate-y:hover {
	transform: rotate3d(2, -1, -1, -45deg);
}

/* =============================================== */

.item3d__content_matrix3d:hover {
	transform: matrix3d(3.507928, 0.460171, 0, 0.009469, 
	-0.438531, 2.090364, 0, -0.005435, 
	0, 0, 1, 0, 
	50, 50, 0, 1);
}
.item3d__content_matrix-negative:hover {
	transform: matrix3d(1.885197, 0.469093, 0, 0.00705, 
   4.768665, 5.013238, 0, 0.027709, 0, 0, 1, 0, 50, 50, 0, 1);
}
.item3d__content_matrix-n:hover {
	transform: matrix3d(0.535689, 0.051716, 0, 0.000399, 
	0.497302, 1.249697, 0, 0.002752, 
	0, 0, 1, 0, 
	122.264255, 112.86006, 0, 1);
}

.item3d__content_matrix-full:hover {
	transform: matrix3d(1.199043, 0.706402, 0, 0.00298, 
	0.83922, 1.97586, 0, 0.006718, 
	0, 0, 1, 0, 
	32.887023, 133.091829, 0, 1);
}
/* ================================================ */

.item3d__content_multi:hover {
	transform: translate3D(22px, 22px, 35px) rotate3d(1, 1, 0.5, 30deg);
}
.item3d__content_multi-negative:hover {
	transform: translate3D(-22px, -22px, -35px) rotate3d(-1, -1, 1, -30deg) scale3d(-1.4,-0.8,-2);
}
.item3d__content_multi-n:hover {
	transform: translate3D(32px, 42px, 55px)scale3d(1.1,0.9,2);
	
}

.item3d__content_multi-full:hover {
	transform: translate3D(22px, 22px, 35px) rotate3d(1, 1, -1, -45deg) scale3d(1.4,0.8,-2);
}

/*=========  -------C------A-----R -------   ================ */
.car{
	position: relative;
	padding-left: 100px;
}
.car__body {
}
.body-car{
	position: relative;
}
.body-car__roof{
	width: 274px;
	height: 100px;
	background-color: #2743c0;
	border-radius: 30% 15% 0 0;
	position: absolute;
	top: -93px;
	left: 250px;
	z-index: 3;
}
.body-car__roof-element{
	width:120px;
	height: 10px;
	background-color: #2743c0;
	position: absolute;
	transform: skewY(38deg);
	top: -40px;
	left: 516px;
	z-index: 3;
}
.body-car__window{
	width: 114px;
	height: 80px;
	background: linear-gradient(45deg, rgb(208,228,247) 0%,rgb(115,177,231) 13%,rgb(10,119,213) 41%,rgb(83,159,225) 89%,rgb(135,188,234) 100%);
	position: absolute;
	border-radius: 0 15% 0 0;
	top: -80px;
	left: 400px;
	z-index: 6;
}
.body-car__window1{
	width: 104px;
	height: 80px;
	background: linear-gradient(to right, rgb(208,228,247) 0%,rgb(115,177,231) 2%,rgb(10,119,213) 17%,rgb(83,159,225) 64%,rgb(83,159,225) 89%,rgb(135,188,234) 100%);
	border-radius: 0 15% 0 0;
	position: absolute;
	top: -80px;
	left: 458px;
	z-index: 4;
	transform: skew(51deg);
}
.body-car__window-add{
	width: 104px;
	height: 80px;
	background: linear-gradient(45deg, rgb(208,228,247) 0%,rgb(115,177,231) 13%,rgb(10,119,213) 41%,rgb(83,159,225) 89%,rgb(135,188,234) 100%);
	border-radius: 30% 0 0 0;
	position: absolute;
	top: -80px;
	left: 280px;
	z-index: 4;
}
.body-car__black-element{
	width:250px;
	height: 10px;
	background-color: #000;
	position: absolute;
	top: 0;
	left: 0;
	z-index: 3;
}
.body-car__main {
	width: 850px;
	height: 120px;
	background-color: #2743c0;
	border-radius: 0 30% 0 0;
	
}
.body-car__submain{
	width: 850px;
	height: 40px;
	background-color: #233483;
	border-radius: 0 0 5% 5%;
}
.car__door{
	width:215px;
	height: 145px;
	border: 0.5px solid rgba(0, 0, 0, 0.3);
	position: absolute;
	top: 5px;
	left: 395px;
	z-index: 5;
}
.car__door-element{
	width:22px;
	height: 12px;
	background-color: #333438;
	position: absolute;
	border-radius: 25%;
	top: 20px;
	left: 410px;
	z-index: 5;
}
.body-car__black-element1{
	width:390px;
	height: 10px;
	background-color: #000;
	position: absolute;
	top: 155px;
	left: 270px;
	z-index: 5;
}
.body-car__bumper-back{
	width:150px;
	height: 20px;
	background-color: #000;
	position: absolute;
	top: 150px;
	left: -10px;
	transform: rotate(1.5deg);
	border-radius:  10% 0 0 15%;
	z-index: 5;

}
.body-car__bumper-front {
	width: 70px;
	height: 50px;
	background-color: #000;
	position: absolute;
	top: 110px;
	left: 800px;
	border-radius: 0 10% 35% 0;
	z-index: 5;
}
.body-car__wing-right{
	width: 170px;
	height: 150px;
	background-color: #082c63;
	border-radius:	50% ;
	position: absolute;
	top: 80px;
	left: 112px;
	z-index: 4;
}
.body-car__wing-left{
	width: 170px;
	height: 150px;
	background-color: #082c63;
	border-radius:	50% ;
	position: absolute;
	top: 80px;
	left: 648px;
	z-index: 4;

}

.body-car__wing-headlamp{
	width: 70px;
	height: 50px;
	background: linear-gradient(to right, rgb(184,225,252) 0%,rgb(169,210,243) 8%,rgb(169,210,243) 16%,rgb(144,186,228) 30%,rgb(144,188,234) 44%,rgb(107,168,229) 64%,rgb(144,191,240) 80%,rgb(162,218,245) 86%,rgb(189,243,253) 100%);
	position: absolute;
	top: 50px;
	left: 784px;
	border-radius: 20% 10% 10% 80%;
	z-index: 3;
}
.body-car__wing-headlamp:hover{
	background: linear-gradient(to right, rgb(254,252,234) 0%,rgb(254,252,234) 0%,rgb(254,252,234) 1%,rgb(254,252,234) 1%,rgb(241,218,54) 6%,rgb(241,218,54) 51%,rgb(254,252,234) 97%,rgb(254,252,234) 97%,rgb(254,252,234) 98%,rgb(254,252,234) 98%);
}

.body-car__wing-backlamp{
	width: 30px;
	height: 70px;
	background: linear-gradient(to right, rgb(248,80,50) 0%,rgb(241,111,92) 18%,rgb(246,41,12) 50%,rgb(246,41,12) 70%,rgb(240,47,23) 75%,rgb(231,56,39) 100%);
	position: absolute;
	top: 30px;
	left: 0;
	border-radius: 0 15% 70% 0;
	z-index: 3;
}
.body-car__wing-backlamp:hover{
	background: linear-gradient(to right, rgb(255,48,25) 83%,rgb(255,48,25) 83%,rgb(255,48,25) 93%,rgb(207,4,4) 100%,rgb(207,4,4) 100%);

}
.car__wheels-right{
	position: absolute;
	top: 92px;
	left: 222px;
	z-index: 5;
	
}
.car__wheels-left{
	position: absolute;
	top: 92px;
	left: 758px;
	z-index: 5;
	
}
.car__wheel {
	position: relative;
	display: inline-block;
}
.car__wheel:not(:last-child){
	margin-right: 380px;
}
.wheel {
}
.wheel__element {
	display: inline-block;
	
	
}
.wheel__element_type {
	width: 150px;
	height: 150px;
	border-radius: 50%;
	background-color: #000;
	outline: 2px dashed black;
	z-index: 1;
}
.wheel__element_disc-center {
	width: 100px;
	height: 100px;
	border-radius: 50%;
	background-color: #8f7e7e;
	position: absolute;
	top: 25px;
	left: 25px;
	z-index: 2;
	
	
}
.wheel__element_disc{
	width: 60px;
	height: 60px;
	border-radius: 50%;
	background-color: #9c9797;
	position: absolute;
	border: 1px solid #000;
	top: 45px;
	left: 45px;
	z-index: 5;

}
.wheel__element_disc1 {
	width: 12px;
	height: 100px;
	border-radius:15%;
	background-color: #9c9797;
	position: absolute;
	border: 1px solid #000;
	top: 25px;
	left: 68px;
	z-index: 4;
}
.wheel__element_disc2 {
	width: 12px;
	height: 100px;
	border-radius:15%;
	background-color: #9c9797;
	position: absolute;
	border: 1px solid #000;
	top: 25px;
	left: 68px;
	z-index: 4;
	transform: rotate(90deg);
}
.wheel__element_disc3 {
	width: 12px;
	height: 100px;
	border-radius:15%;
	background-color: #9c9797;
	position: absolute;
	border: 1px solid #000;
	top: 25px;
	left: 68px;
	z-index: 4;
	transform: rotate(45deg);
}
.wheel__element_disc4 {
	width: 12px;
	height: 100px;
	border-radius:15%;
	background-color: #9c9797;
	position: absolute;
	border: 1px solid #000;
	top: 25px;
	left: 68px;
	z-index: 4;
	transform: rotate(-45deg);
}

.wheel__element_disc5 {
	width: 25px;
	height: 25px;
	border-radius:50%;
	background-color: #000000;
	position: absolute;
	top: 62px;
	left: 62px;
	z-index: 6;
	
}


.road{
	background-color: #fff;
	height: 100px;
	width: 1000px;
	position: relative;
	z-index: 4;
	
}












