/* Title */
.title {
	font-weight: 700;
	font-size: 25px;
	line-height: 160%; /* 40/25 */

	transition: color 0.5s;
}
.title_white {
	color:#F8F9FA;
}
.title_black{
	color: #212529;
}
.text {
	font-weight: 300;
	font-size: 12px;
	line-height: 166.666667%; /* 20/12 */

	
}
.text_white{
	color: #E5E5E5;
}






