@import url("https://fonts.googleapis.com/css?family=Poppins:300,500,700&display=swap");
*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  border: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

a {
  text-decoration: none;
  color: inherit;
}

li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: inherit;
  font-size: inherit;
}

html,
body {
  height: 100%;
  line-height: 1;
}

textarea,
button,
input {
  font-weight: inherit;
  font-size: inherit;
  color: inherit;
  font-family: inherit;
}

button {
  cursor: pointer;
  background-color: inherit;
}

body {
  font-family: "Poppins", serif;
  font-size: 0.75rem;
}

.wrapper {
  overflow: clip;
  min-height: 100%;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.wrapper > main {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}

[class*=__container] {
  padding-left: 15px;
  padding-right: 15px;
  max-width: 1270px; /* 1240 + 15 + 15  */
  margin: 0 auto;
}

.header {
  position: fixed;
  width: 100%;
  left: 0;
  top: 0;
  z-index: 50;
  background-color: rgba(0, 0, 0, 0.1);
}
.header__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  min-height: 6.0625rem;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-top: 0.3125rem;
  padding-bottom: 0.3125rem;
  gap: 0.625rem;
}
@media (max-width: 47.99875em) {
  .header__container {
    min-height: 3.125rem;
  }
}
.header__logo, .upper-part__logo {
  position: relative;
  z-index: 2;
  font-weight: 700;
  font-size: 1.125rem;
  line-height: 1.39;
  color: #f8f9fa;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}
.header__logo::after, .upper-part__logo::after {
  content: ".";
  color: #ddbea9;
}
.header__navigation {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 1.25rem;
  min-height: 1.5625rem;
}
.header__menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 1.5625rem;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}
@media (min-width: 41.25em) {
  .header__menu:not(:last-child)::after {
    content: "";
    background-color: rgba(229, 229, 229, 0.5);
    -webkit-box-flex: 0;
        -ms-flex: 0 0 1px;
            flex: 0 0 1px;
    height: 25px;
  }
}
.header__search {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 22px;
          flex: 0 0 22px;
  -ms-flex-item-align: stretch;
      align-self: stretch;
  -webkit-transform: translate(5px, 0px);
      -ms-transform: translate(5px, 0px);
          transform: translate(5px, 0px);
  background: url("../img/icons/search.svg") center no-repeat;
}
@media (max-width: 41.25em) {
  .header__search {
    -webkit-transform: translate(0, 0);
        -ms-transform: translate(0, 0);
            transform: translate(0, 0);
    background-size: 100%;
  }
}
.header__menu-icon {
  display: none;
}
@media (max-width: 41.25em) {
  .header__menu-icon {
    display: block;
    -webkit-box-flex: 0;
        -ms-flex: 0 0 30px;
            flex: 0 0 30px;
    height: 18px;
    position: relative;
  }
  .header__menu-icon::before, .header__menu-icon::after, .header__menu-icon span {
    content: "";
    position: absolute;
    height: 1px;
    left: 0;
    width: 100%;
    background-color: #fff;
    -webkit-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s;
  }
  .header__menu-icon::before {
    top: 0;
  }
  .header__menu-icon::after {
    bottom: 0;
  }
  .header__menu-icon span {
    top: 50%;
    margin-top: -0.5px;
  }
}

@media (max-width: 41.25em) {
  .menu__body {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: -100%;
    overflow: auto;
    background-color: #212529;
    padding: 70px 15px 20px 15px;
    -webkit-transition: left 0.3s;
    -o-transition: left 0.3s;
    transition: left 0.3s;
  }
  .menu__body::before {
    content: "";
    height: 50px;
    width: 100%;
    position: fixed;
    top: 0;
    left: -100%;
    background-color: #15171a;
    z-index: 1;
    -webkit-transition: left 0.3s;
    -o-transition: left 0.3s;
    transition: left 0.3s;
  }
}
.menu__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-column-gap: 1.5625rem;
     -moz-column-gap: 1.5625rem;
          column-gap: 1.5625rem;
  row-gap: 3px;
}
@media (max-width: 41.25em) {
  .menu__list {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    row-gap: 1.25rem;
  }
}
@media (any-hover: hover) {
  .menu__item:hover .menu__link {
    color: #fff;
  }
  .menu__item:hover .menu__link::before {
    width: 100%;
    left: 0;
  }
}
.menu__item_parent {
  position: relative;
  padding-right: 0.8125rem;
}
@media (min-width: 41.25em) {
  .menu__item_parent::after {
    content: "";
    width: 8px;
    height: 5px;
    position: absolute;
    top: 9px;
    right: 0;
    background: url("../img/icons/arrow.svg") 0 0/100% no-repeat;
  }
}
@media (any-hover: hover) {
  .menu__item_parent:hover .sub-menu {
    top: 100%;
    opacity: 1;
    visibility: visible;
    pointer-events: auto;
  }
}
.menu__link {
  font-weight: 500;
  color: rgba(248, 249, 250, 0.5);
  line-height: 2.08; /* 25/12 */
  -webkit-transition: color 0.3s;
  -o-transition: color 0.3s;
  transition: color 0.3s;
  position: relative;
  display: inline-block;
}
.menu__link::before {
  content: "";
  position: absolute;
  bottom: 0;
  left: 50%;
  height: 2px;
  width: 0;
  -webkit-transition: width 0.3s, left 0.3s;
  -o-transition: width 0.3s, left 0.3s;
  transition: width 0.3s, left 0.3s;
  border-radius: 2px;
  background-color: #ddbea9;
}
@media (max-width: 41.25em) {
  .menu__link {
    font-size: 1.25rem;
    color: #fff;
  }
}
@media (min-width: 41.25em) {
  .menu__sub-menu {
    position: absolute;
    top: 120%;
    left: 0;
    opacity: 0;
    visibility: hidden;
    -webkit-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s;
    padding-top: 5px;
    pointer-events: none;
  }
}
@media (max-width: 41.25em) {
  .menu__sub-menu {
    padding: 0.625rem 0px 0px 0px;
    min-width: 0;
  }
}

.menu-open .menu__body {
  left: 0;
}
.menu-open .menu__body::before {
  left: 0;
}
@media (max-width: 41.25em) {
  .menu-open .header__menu-icon::before {
    top: 50%;
    -webkit-transform: translateY(-50%) rotate(-45deg);
        -ms-transform: translateY(-50%) rotate(-45deg);
            transform: translateY(-50%) rotate(-45deg);
  }
  .menu-open .header__menu-icon:after {
    bottom: 50%;
    -webkit-transform: translateY(50%) rotate(45deg);
        -ms-transform: translateY(50%) rotate(45deg);
            transform: translateY(50%) rotate(45deg);
  }
  .menu-open .header__menu-icon span {
    width: 0;
    left: 50%;
  }
}

.active {
  color: #fff;
}
.active::before {
  width: 100%;
  left: 0;
}

.sub-menu__list {
  background: #212529;
  border-radius: 5px;
  padding: 1.25rem;
  min-width: 8.75rem;
}
.sub-menu__item:not(:last-child) {
  margin-bottom: 10px;
}
.sub-menu__link {
  color: rgba(248, 249, 250, 0.6);
  line-height: 2.08; /* 25/12 */
  font-weight: 500;
  -webkit-transition: color 0.3s;
  -o-transition: color 0.3s;
  transition: color 0.3s;
}
@media (max-width: 41.25em) {
  .sub-menu__link {
    font-size: 1rem;
  }
}
@media (any-hover: hover) {
  .sub-menu__link:hover {
    color: #fff;
  }
}

.page__main:not(:last-child) {
  margin-bottom: 3.125rem;
}

.main {
  position: relative;
  min-height: 100vh;
  padding-bottom: 6.25rem;
  padding-top: 7.5rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}
.main__container {
  position: relative;
  z-index: 2;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}
.main__body {
  max-width: 605px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  gap: 15px;
}
.main__date {
  font-weight: 300;
  line-height: 166.666667%; /* 20/12 */
  color: #E5E5E5;
}
.main__title {
  font-weight: 700;
  font-size: 1.5625rem;
  line-height: 1.6; /* 40/25 */
}
.main__text {
  font-weight: 300;
  line-height: 166.666667%; /* 20/12 */
  color: #E5E5E5;
  max-width: 22.5rem;
}
.main__background {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  border: 0 5px 5px 0;
}
.main__background img {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  -o-object-fit: cover;
     object-fit: cover;
}
.main__number-slide {
  font-weight: 300;
  line-height: 166.666667%; /* 20/12 */
  letter-spacing: 0.2em;
  color: #E5E5E5;
  position: absolute;
  z-index: 2;
  right: 5.9375rem;
  bottom: 2.0625rem;
}
.main__slide-item {
  position: relative;
}
.main__slide-item::before {
  content: "";
  position: absolute;
  height: 1px;
  width: 44px;
  bottom: 8px;
  right: 38px;
  background-color: #E5E5E5;
}

.title {
  font-weight: 700;
  font-size: 1.5625rem;
  line-height: 1.6; /* 40/25 */
}
.title_white {
  color: #F8F9FA;
}

.page__articles {
  padding-top: 3.125rem;
  padding-bottom: 6.25rem;
}
@media (max-width: 47.998125em) {
  .page__articles {
    padding-top: 0.625rem;
    padding-bottom: 2.5rem;
  }
}

.articles__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.articles__filter-block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 1.25rem;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.articles__filter-block:not(:last-child) {
  margin-bottom: 2.75rem;
}
@media (max-width: 47.998125em) {
  .articles__filter-block:not(:last-child) {
    margin-bottom: 1.5625rem;
  }
}
@media (max-width: 47.998125em) {
  .block-filter__category-menu {
    font-size: 0.875rem;
  }
}
@media (any-hover: hover) {
  .block-filter__category-menu:hover {
    text-decoration: underline;
  }
}
.block-filter__options {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-column-gap: 1.25rem;
     -moz-column-gap: 1.25rem;
          column-gap: 1.25rem;
}
.block-filter__item {
  font-weight: 500;
  line-height: 2.08; /* 25/12 */
  color: rgba(73, 80, 87, 0.5);
}
@media (any-hover: hover) {
  .block-filter__item:hover .block-filter__option {
    color: #495057;
  }
}
.block-filter__option {
  -webkit-transition: color 0.5s;
  -o-transition: color 0.5s;
  transition: color 0.5s;
}
@media (max-width: 61.99875em) {
  .block-filter__option {
    font-size: 0.875rem;
  }
}

.items-articles {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  row-gap: 2.8125rem;
  margin: 0 -15px;
}
@media (max-width: 61.99875em) {
  .items-articles {
    margin: 0 -10px;
  }
}
@media (max-width: 47.998125em) {
  .items-articles {
    row-gap: 1.5625rem;
  }
}
.items-articles__column {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 33.333%;
          flex: 0 0 33.333%;
  padding: 0px 15px;
}
@media (max-width: 61.99875em) {
  .items-articles__column {
    padding: 0 10px;
  }
}
@media (max-width: 47.998125em) {
  .items-articles__column {
    -webkit-box-flex: 0;
        -ms-flex: 0 1 50%;
            flex: 0 1 50%;
  }
}
@media (max-width: 33.125em) {
  .items-articles__column {
    -webkit-box-flex: 0;
        -ms-flex: 0 1 100%;
            flex: 0 1 100%;
  }
}
.item-article {
  position: relative;
  min-height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.item-article__caterory, .item-world__caterory {
  position: absolute;
  right: 7.63358%;
  top: 5%;
  background-color: rgba(33, 37, 41, 0.3);
  border-radius: 3px;
  padding: 3px 12px;
  font-size: 0.5rem;
  line-height: 2.5;
  text-align: center;
  color: #f8f9fa;
  font-weight: 700;
  text-transform: uppercase;
  -webkit-transition: background-color 0.3s;
  -o-transition: background-color 0.3s;
  transition: background-color 0.3s;
  z-index: 2;
}
@media (any-hover: hover) {
  .item-article__caterory:hover, .item-world__caterory:hover {
    background-color: rgba(33, 37, 41, 0.9);
  }
}
.item-article__image, .item-world__image {
  position: relative;
  display: block;
  overflow: hidden;
  padding-bottom: 63.613232%; /* 250/393 */
}
.item-article__image:not(:last-child), .item-world__image:not(:last-child) {
  margin-bottom: 1.875rem;
}
@media (max-width: 47.998125em) {
  .item-article__image:not(:last-child), .item-world__image:not(:last-child) {
    margin-bottom: 1.25rem;
  }
}
.item-article__image img, .item-world__image img {
  position: absolute;
  -webkit-transition: -webkit-transform 0.5s;
  transition: -webkit-transform 0.5s;
  -o-transition: transform 0.5s;
  transition: transform 0.5s;
  transition: transform 0.5s, -webkit-transform 0.5s;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  -o-object-fit: cover;
     object-fit: cover;
}
@media (any-hover: hover) {
  .item-article__image:hover img, .item-world__image:hover img {
    -webkit-transform: scale(1.05);
        -ms-transform: scale(1.05);
            transform: scale(1.05);
  }
}
.item-article__body, .item-world__body {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  gap: 0.9375rem;
}
.item-article__body:not(:last-child), .item-world__body:not(:last-child) {
  margin-bottom: 0.9375rem;
}
.item-article__author {
  border-top: 1px solid #e5e5e5;
  padding-top: 0.9375rem;
  -webkit-transition: color 0.5s;
  -o-transition: color 0.5s;
  transition: color 0.5s;
}
@media (max-width: 61.99875em) {
  .item-article__author {
    font-size: 0.875rem;
  }
}
@media (any-hover: hover) {
  .item-article__author:hover {
    color: #15171a;
    text-decoration: underline;
  }
}

.body-item {
  color: #495057;
  font-weight: 300;
  line-height: 166.666667%; /* 20/12 */
}
@media (max-width: 61.99875em) {
  .body-item {
    font-size: 0.875rem;
  }
}
.body-item__date {
  cursor: pointer;
  line-height: 166.666667%; /* 20/12 */
}
.body-item__title {
  font-weight: 700;
  font-size: 1.5625rem;
  line-height: 1.6; /* 40/25 */
  -webkit-transition: color 0.3s;
  -o-transition: color 0.3s;
  transition: color 0.3s;
}
@media (max-width: 61.99875em) {
  .body-item__title {
    font-size: 1.25rem;
  }
}
@media (any-hover: hover) {
  .body-item__title:hover {
    color: #ccd5ae;
  }
}
@media (max-width: 61.99875em) {
  .body-item__text {
    font-size: 0.875rem;
  }
}

.articles__button {
  display: inline-block;
  text-align: center;
  -ms-flex-item-align: center;
      align-self: center;
  background-color: #212529;
  border-radius: 3px;
  min-width: 11.25rem;
  padding: 0.5rem 1.5625rem;
  color: #f8f9fa;
  line-height: 2.08;
  font-weight: 500;
  -webkit-transition: background-color 0.3s;
  -o-transition: background-color 0.3s;
  transition: background-color 0.3s;
  margin-top: 3.75rem;
}
@media (max-width: 47.998125em) {
  .articles__button:not(:last-child) {
    margin-top: 2.5rem;
  }
}
@media (any-hover: hover) {
  .articles__button:hover {
    background-color: #33393f;
  }
}

.page__featured {
  background: #212529;
}
.page__featured:not(:last-child) {
  margin-bottom: 6.25rem;
}
@media (max-width: 61.99875em) {
  .page__featured:not(:last-child) {
    margin-bottom: 5rem;
  }
}
@media (max-width: 47.99875em) {
  .page__featured:not(:last-child) {
    margin-bottom: 3.125rem;
  }
}

.featured__items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
@media (max-width: 47.99875em) {
  .featured__items {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
}
.item-featured {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 51.041666%;
          flex: 0 1 51.041666%;
  padding-top: 6.25rem;
  padding-bottom: 6.25rem;
}
@media (max-width: 61.99875em) {
  .item-featured {
    -webkit-box-flex: 0;
        -ms-flex: 0 1 65%;
            flex: 0 1 65%;
    padding-top: 3.75rem;
    padding-bottom: 3.75rem;
  }
}
@media (max-width: 47.99875em) {
  .item-featured {
    -webkit-box-flex: 0;
        -ms-flex: 0 1 100%;
            flex: 0 1 100%;
    padding-top: 2.5rem;
    padding-bottom: 2.5rem;
  }
}
.item-featured__wrapper {
  max-width: 45.9375rem;
  padding-left: 6rem;
  padding-right: 1.875rem;
}
@media (max-width: 84.375em) {
  .item-featured__wrapper {
    padding-left: 3.75rem;
  }
}
@media (max-width: 68.75em) {
  .item-featured__wrapper {
    padding-left: 2.5rem;
  }
}
@media (max-width: 47.99875em) {
  .item-featured__wrapper {
    padding-left: 1.25rem;
  }
}
.item-featured__title, .world__title {
  font-weight: 500;
  font-size: 1.5625rem;
  line-height: 80%; /* 20/25 */
  color: #F8F9FA;
}
.item-featured__title:not(:last-child), .world__title:not(:last-child) {
  margin-bottom: 3.75rem;
}
.item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 1.875rem;
}
@media (max-width: 33em) {
  .item {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}
.item:not(:last-child) {
  margin-bottom: 2.5rem;
}
@media (max-width: 47.99875em) {
  .item:not(:last-child) {
    margin-bottom: 1.5625rem;
  }
}
.item__picture {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 36.3453%;
          flex: 0 0 36.3453%;
}
@media (max-width: 47.99875em) {
  .item__picture {
    -webkit-box-flex: 0;
        -ms-flex: 0 1 27%;
            flex: 0 1 27%;
  }
}
.item__image {
  position: relative;
  display: block;
  padding-bottom: 100%;
  overflow: hidden;
  border-radius: 8px;
}
@media (max-width: 33em) {
  .item__image {
    padding-bottom: 70%;
  }
}
.item__image img {
  border-radius: 8px;
  position: absolute;
  -webkit-transition: -webkit-transform 0.5s;
  transition: -webkit-transform 0.5s;
  -o-transition: transform 0.5s;
  transition: transform 0.5s;
  transition: transform 0.5s, -webkit-transform 0.5s;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  -o-object-fit: cover;
     object-fit: cover;
}
@media (max-width: 33em) {
  .item__image img {
    width: 100%;
    height: 100%;
  }
}
@media (any-hover: hover) {
  .item__image:hover img {
    -webkit-transform: scale(1.05);
        -ms-transform: scale(1.05);
            transform: scale(1.05);
  }
}
.item__content {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 57.789%;
          flex: 0 0 57.789%;
  font-weight: 300;
  line-height: 166.666667%; /* 20/12 */
  color: #E5E5E5;
}
@media (max-width: 47.99875em) {
  .item__content {
    max-width: 26.875rem;
  }
}

.content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  row-gap: 0.9375rem;
}
@media (max-width: 61.99875em) {
  .content {
    font-size: 0.875rem;
  }
}
.content__date {
  cursor: pointer;
}
@media (any-hover: hover) {
  .content__date:hover {
    text-decoration: underline;
  }
}
.content__title {
  font-weight: 500;
  font-size: 1rem;
  line-height: 156.25%; /* 25/16 */
  color: #F8F9FA;
  -webkit-transition: color 0.5s;
  -o-transition: color 0.5s;
  transition: color 0.5s;
}
@media (max-width: 61.99875em) {
  .content__title {
    font-size: 1.125rem;
  }
}
@media (any-hover: hover) {
  .content__title:hover {
    color: #ccd5ae;
  }
}
.featured__item-slider {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}

.slider-item {
  position: relative;
  overflow: hidden;
  min-height: 56.4375rem;
}
@media (max-width: 47.99875em) {
  .slider-item {
    min-height: 31.25rem;
  }
}
@media (max-width: 33em) {
  .slider-item {
    min-height: 25rem;
  }
}
.slider-item__image {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
}
.slider-item__image img {
  border-radius: 5px;
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  -o-object-fit: cover;
     object-fit: cover;
}

.slider-item__content {
  font-weight: 300;
  line-height: 166.666667%; /* 20/12 */
  color: #E5E5E5;
  text-align: center;
  padding-top: 24.375rem;
}
@media (max-width: 61.99875em) {
  .slider-item__content {
    font-size: 0.875rem;
  }
}
@media (max-width: 47.99875em) {
  .slider-item__content {
    padding-top: 8.75rem;
  }
}
@media (max-width: 33em) {
  .slider-item__content {
    padding-top: 5.625rem;
  }
}

.content-slider {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  row-gap: 0.9375rem;
  z-index: 2;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.content-slider__number-slide {
  position: relative;
}
.content-slider__number-slide::before {
  content: "___";
  color: #E5E5E5;
}
.content-slider__title {
  font-weight: 700;
  font-size: 1.5625rem;
  line-height: 160%; /* 40/25 */
  color: #F8F9FA;
  max-width: 24.6875rem;
  -webkit-transition: color 0.5s;
  -o-transition: color 0.5s;
  transition: color 0.5s;
}
@media (max-width: 61.99875em) {
  .content-slider__title {
    max-width: 16.25rem;
  }
}
@media (max-width: 47.99875em) {
  .content-slider__title {
    max-width: 26.25rem;
  }
}
@media (max-width: 33em) {
  .content-slider__title {
    max-width: 21.25rem;
  }
}
@media (max-width: 23.125em) {
  .content-slider__title {
    max-width: 15rem;
    font-size: 1.25rem;
  }
}
@media (max-width: 15.625em) {
  .content-slider__title {
    max-width: 13.75rem;
    font-size: 1.125rem;
  }
}
@media (any-hover: hover) {
  .content-slider__title:hover {
    color: #ccd5ae;
  }
}
.content-slider__text {
  max-width: 24.5625rem;
}
@media (max-width: 61.99875em) {
  .content-slider__text {
    max-width: 16.25rem;
  }
}
@media (max-width: 47.99875em) {
  .content-slider__text {
    max-width: 26.25rem;
  }
}
@media (max-width: 33em) {
  .content-slider__text {
    max-width: 21.25rem;
  }
}
@media (max-width: 23.125em) {
  .content-slider__text {
    max-width: 15rem;
  }
}
@media (max-width: 15.625em) {
  .content-slider__text {
    max-width: 13.75rem;
  }
}

.page__world {
  margin-bottom: 6.25rem;
}
@media (max-width: 61.99875em) {
  .page__world {
    margin-bottom: 3.75rem;
  }
}

.world__title {
  color: #495057;
}
@media (max-width: 61.99875em) {
  .world__title:not(:last-child) {
    margin-bottom: 2.5rem;
  }
}
.world__items {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(14.375rem, 1fr));
  gap: 1.875rem;
}
@media (max-width: 47.99875em) {
  .world__items {
    -webkit-column-gap: 1.25rem;
       -moz-column-gap: 1.25rem;
            column-gap: 1.25rem;
  }
}
@media (max-width: 33em) {
  .world__items {
    grid-template-columns: repeat(auto-fit, minmax(16.875rem, 1fr));
  }
}
@media (max-width: 22.5em) {
  .world__items {
    grid-template-columns: repeat(auto-fit, minmax(11.25rem, 1fr));
  }
}
.item-world {
  position: relative;
}
.item-world__image {
  padding-bottom: 69.6864%;
}
.item-world__image img {
  position: absolute;
  -webkit-transition: -webkit-transform 0.5s;
  transition: -webkit-transform 0.5s;
  -o-transition: transform 0.5s;
  transition: transform 0.5s;
  transition: transform 0.5s, -webkit-transform 0.5s;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  -o-object-fit: cover;
     object-fit: cover;
}
@media (max-width: 33em) {
  .item-world__body {
    font-size: 1rem;
  }
}

.body-item__title {
  font-weight: 500;
  font-size: 1rem;
  line-height: 156.25%; /* 25/16 */
  color: #212529;
}
@media (max-width: 33em) {
  .body-item__title {
    font-size: 1.125rem;
  }
}
.footer {
  background: #212529;
  font-weight: 500;
  line-height: 208.333333%; /* 25/12 */
  color: rgba(248, 249, 250, 0.5);
}
.footer__upper-part {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-column-gap: 2.5rem;
     -moz-column-gap: 2.5rem;
          column-gap: 2.5rem;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
@media (max-width: 28.125em) {
  .footer__upper-part {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    row-gap: 1.25rem;
  }
}
.upper-part {
  padding-top: 2.5rem;
  padding-bottom: 2.5rem;
  border-bottom: 1px solid rgba(229, 229, 229, 0.2);
}
@media (max-width: 28.125em) {
  .upper-part {
    padding-top: 1.875rem;
    padding-bottom: 1.875rem;
  }
}
.upper-part__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.upper-part__list:not(:last-child) {
  margin-right: 1.5625rem;
}
@media (max-width: 28.125em) {
  .upper-part__list:not(:last-child) {
    margin-right: 1.25rem;
  }
}
@media (max-width: 28.125em) {
  .upper-part__list {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    row-gap: 1.25rem;
  }
}

.list-active__item:not(:last-child) {
  margin-right: 1.5625rem;
}
.list-active__item:hover .list-active__link::before {
  width: 100%;
  left: 0;
}
.list-active__link {
  position: relative;
}
.list-active__link::before {
  content: "";
  position: absolute;
  bottom: 0;
  left: 50%;
  height: 2px;
  width: 0;
  -webkit-transition: width 0.3s, left 0.3s;
  -o-transition: width 0.3s, left 0.3s;
  transition: width 0.3s, left 0.3s;
  border-radius: 2px;
  background-color: #ddbea9;
}

.underside {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-column-gap: 2.5rem;
     -moz-column-gap: 2.5rem;
          column-gap: 2.5rem;
  padding-top: 2.5rem;
  padding-bottom: 2.5rem;
}
@media (max-width: 28.125em) {
  .underside {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    row-gap: 1.25rem;
    padding-top: 1.875rem;
    padding-bottom: 1.875rem;
  }
}