@import url(reset.css);


body{
	font-family: "Poppins",serif;
}
p{
	color: #6C757D;
	font-size: 14px;
	font-weight: 300;
	line-height: 25px;
	margin-bottom: 25px;
}
.wrapper {
	margin: 0 auto; 
	max-width: 1240px; 
}
.сontainer{
	margin: 0 auto;
	max-width: 816px;
}
.block-header{
	margin-bottom: 15px;
}
.header-title {
	font-size: 12px;
	font-weight: 300;
	line-height: 20px;
	max-width: 15.8125rem;
}
.header-title  li{
	color: #6C757D;
	display: inline-block;
	font-size: 12px;
} 
.last-li{
	font-weight: 700;
}
.block-main{
	margin-bottom: 80px;
}
.block-main h1 {
	color: #212529;
	font-size: 25px;
	font-weight: 700;
	line-height: 40px;
	margin-bottom: 40px;
	max-width: 25rem;
}
.main-text{
	margin-bottom: 80px;
}
.main-text p{
	margin-bottom: 25px;
}
#last-paragraph{
	margin-bottom: 0;
}	
.block-main img{
	display: inline-block;
	max-width: 100%;
}
.content-block{
	margin-bottom: 80px;
}
.content-block h2 {
	color: #212529;
	font-size: 25px;
	font-weight: 700;
	line-height: 40px;
	margin: 0px 0px 40px 0px;
	max-width: 37.8125rem;
}
.content-paragraph+p{
	margin-bottom: 0;
}
.block-image{
	font-size: 0;
	margin-bottom: 80px;
}
.image-content {
	display: inline-block;
	max-width: 100%;
}
#image-boat{
	margin-right: 30px;
}
.block-footer p{
	margin-bottom: 0;
}
	
	





