@import url(reset.css);


body{
	font-family: "Poppins",serif;
	
}
p{
	color: #6C757D;
	font-size: 14px;
	font-weight: 300;
	line-height: 25px;
	max-width: 816px;
	padding-bottom: 25px;
	
}
.container {
	margin: 0 auto;
	padding: 0px 100px;
}
.block-header,
.block-main,
.content-block ,
.block-footer{
 	padding: 0px 212px;
}

.header-title, 
.undermain-image,
.content-block,
.content-image,
.block-footer{
	margin: 80px 0px 0px 0px;
} 

.header-title {
	max-width: 253px;
}
.header-title  li{
	color: #6C757D;
	display: inline-block;
	font-size: 12px;
	font-weight: 300;
	margin: 0px 0px 5px 0px;
}
li.last-li{
	font-weight: 700;
	margin-bottom: 0px;
}
.main-title {
	font-size: 25px;
	font-weight: 700;
	margin: 15px 0px 0px 0px;
	max-width: 400px;
}
.main-text {
	color: #212529;
	font-weight: 300;
	font-size: 14px;
	margin: 40px 0px 0px 0px;
}
.undermain-image {
	display: inline-block;
	max-width: 100%;
}	
.undermain-image img{
	display: inline-block;
	max-width: 100%;
}

.content-title {
	color: #212529;
	font-size: 25px;
	font-weight: 700;
	margin: 0px 0px 40px 0px;
	max-width: 605px;
}
.content-image {
	display: inline-block;
	max-width: 100%;
}
.image2{
	margin: 0px 0px 0px 30px;
}
.block-image{
	font-size: 0;
}


